<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labelle</title>
    <link rel="icon" href="img/core-img/favicon.ico">
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        .forgot-password-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-left: -12px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #fbb710;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #f7c954;
        }

        #message {
            color: red;
            font-size: 12px;
        }

        .error-message {
            background-color: #f8d7da;
            /* Light red background */
            color: #721c24;
            /* Dark red text */
            border: 1px solid #f5c6cb;
            /* Light red border */
            padding: 10px;
            border-radius: 5px;
            /* Rounded corners */
            font-size: 10px;
            margin-bottom: 20px;
            /* Spacing below the message */
        }

        .error-message p {
            margin: 0;
            /* Remove margin from the paragraph */
        }

        .error-message .close-btn {
            background: none;
            border: none;
            color: #721c24;
            font-size: 10px;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .error-message .close-btn:hover {
            color: #f5c6cb;
        }
    </style>
</head>

<body>
    <div class="forgot-password-container">
        <h2>Please enter your email</h2>
        <% if (error) { %>
            <div class="error-message">
                <p>
                    <%= error %>
                </p>
            </div>
        <% } %>
        <form method="post" action="/forget-password">
            <input type="email" id="email" name="email" placeholder="Enter your email" required />
            <button type="submit">Send OTP</button>
        </form>
    </div>
</body>
</html>